   <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
       <br>
        <img src="/images/logo_blue.png" id="logo" alt="logo" height="60"; width:="150"/>
       
        <h1> These Properties are available on your chosen date </h1>
      </div>
    </div>

</form>
    <% @available_list.each do |listing|  %>

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h1><%= listing.title %></h1><br>
        <h2><%= listing.description %></h2><br>
        <%= listing.postcode.upcase %><br>
        £<%= listing.price %>.00<br>
        <form action="/booking/<%= listing.id %>" method="post">
        <input type="submit" name="book" value="Book This Property">
        </form>
        </div>
      </div>
        <% end %>
