 <html>
    <head>
       <title>My listings</title>
    </head>
<body>
    <div class="wrapper fadeInDown" >
    <div id="formContent"> 
    <br>
      <img src="/images/logo_blue.png" id="logo" alt="logo" height="60"; width:="150"/>
    <br>
    <h1> My Listings </h1>
     <form action="/add-listing" method="get">
      <input type="submit" value="Add a new Listing">
     </form>
    </div>
  </div>
    <% @my_listing.each do |listing|  %>
   <div class="wrapper fadeInDown" >
      <div id="formListings"> 
          <h3><%= listing.title %></h3>
          <%= listing.description %><br>
          <%= listing.postcode.upcase %><br>
          £<%= listing.price %>.00<br><br>

          <form action="/my-listings/<%=listing.id%>/edit" method="get">
            <input type="submit" value="Edit Listing">
          </form>

          <form action="/my-listings/<%=listing.id%>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete this listing">
          </form>
      </div>
    </div>
          <% end %>
     
    

 
   
  </body>

</html>