 <html>
    <head>
       <title>My listings</title>
    </head>

    <body>
        <div class="header">
        <h1>My Listings</h1>
        </div>
      <br><br>

    <% @my_listing.each do |listing|  %>
  <li>
    <div class="row">
      <div class="column">
        <div class="card">
          <h3><%= listing.title %></h3>
          <%= listing.description %><br>
          <%= listing.postcode.upcase %><br>
          £<%= listing.price %>.00<br><br>

          <form action="/my-listings/<%=listing.id%>/edit" method="get">
            <input type="hidden" name="_method" value="patch" />
            <input type="submit" value="Edit Listing">
          </form>

          <form action="/my-listings/<%=listing.id%>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete this listing">
          </form>

          <% end %>
        </div>
      </div>
    </div>
  </li>

  <form action="/add-listing" method="get">
    <input type="submit" value="Add a new Listing">
  </form>
   
  </body>

</html>